GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
TELEGRAM_BOT_TOKEN=8680178701:AAEdRETzMseHbOZuMmQFXpR9RemM-CQ8dl0
TELEGRAM_CHAT_ID=1002352180501
ADMIN_PASSWORD=yasiN@13$
PORT=8000
